body {
	margin: 0;
	padding:0;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	background-color: #5fbaa8;
}

.main-container {
	display:grid;
	grid-template-areas:
	"holt weights"
	"holt seesaw"
	"previous islanders";
	margin:10px auto;
	width: 900px;
	grid-template-columns: 275px 625px;
	grid-template-rows: 260px 90px 200px;
}

.islander, .islander-box {
	height:75px;
	width: 75px;
	border-radius: 50%;
	/*position: absolute;*/
}

.islander-box {
	margin:10px;
}

#islandersContainer {
	display: flex;
	flex-wrap:wrap;
	justify-content: space-between;
	grid-area:islanders;
	/*position: relative;*/
}

.holt {
	grid-area:holt;
	text-align: center;
	position: relative;
	overflow: hidden;
	background-color: orange;
	/*padding:5px;*/
	border-radius: 10px;
	border:5px double white;
}

.holt .img {
	width:125px;
	bottom:0;
	left:40px;
	position: absolute;
}

.holt p {
	margin:0 5px 0 0;
	background-color: white;
	padding:5px 10px 10px;
	border-radius: 0 0 20px 0;
	position: relative;
}

.holt p img {
    left: 150px;
    bottom: -57px;
    height: 60px;
    width: auto;
    position: absolute;
}

.previous {
	grid-area:previous;
}

#weigher {
	grid-area:weights;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.saw-side {
	width:310px;
	height: 350px;
}

#seesaw {
	grid-area:seesaw;
	position: relative;
	overflow: hidden;
}

.saw-line, .saw-base {
	background-color:brown;
	position: absolute;
}

.saw-line {
	width:600px;
	height:20px;
	bottom:35px;
	left:12.5px;
	transition-duration: 2s;
/*	-ms-transform: rotate(5deg);
	-webkit-transform: rotate(5deg);
	transform: rotate(5deg);*/
}

.saw-base {
	bottom:-30px;
	left:282.5px;
	height:60px;
	width:60px;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

#go {
	position: absolute;
	bottom:6px;
	left:282.5px;
	width:60px;
	z-index: 5;
}